@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=b109c932-a49a-4e1b-b70d-d84b4e43ddf5");
@font-face{
font-family:"OfficinaSerifITCW01-Boo_734540";
src:url("../fonts/d29a1003-aa62-4492-a4ab-3b649c7efccd.eot?#iefix");
src:url("../fonts/d29a1003-aa62-4492-a4ab-3b649c7efccd.eot?#iefix") format("eot"),url("../fonts/73586ea9-fb0d-422d-806c-ac63$
}
@font-face{
font-family:"OfficinaSerifITCW01-Bol_734534";
src:url("../fonts/377ad900-10be-4f48-a384-6d415b7a190a.eot?#iefix");
src:url("../fonts/377ad900-10be-4f48-a384-6d415b7a190a.eot?#iefix") format("eot"),url("../fonts/be8e89ff-f9b9-466c-ac61-d5f5$
}
